*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: system-client, -apple-system, BlinkMacSystemFont, 'Segoe client', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  width: 100%;
  max-width: 40rem;
  margin: 3.125rem auto;
}

@media (max-width: 1024px) {
  main{
    max-width: 34.375rem;
  }
}
